.product-header-img {
  object-fit: contain;
  height: 600px;
  width: 100%;
  margin-top: 10px;
}
.product-item img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.product-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.product-item {
  margin-bottom: 40px;
  border: 1px solid;
  margin-right: 25px;
}
.product-item .product-Details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.product-item .name-head {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.product-item.product-Details h6 {
  text-align: center;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
